<%- include("header") -%>

<section class="banner center first-cover" id="top">
  <div class="container " style="  height:1500px;"">
    <div class=" row ">
      <div class=" col-md-4">
    <img class="card-image episode-image lozad" data-src="<%=posterPath%>" src = "/img/blank.png" alt="Episode Poster">
  </div>
  <div class="col-md-8">
    <div class="card episode-card">
      <div class="card-text">
        <p class="p-airDate">Air date: <%=airDate%></p>
        <h1><%=episodeName%></h1>
        <h6>
          <a href="/TVShows/<%=name%>"><%=name%></a>
          -
          <a href="/TVShows/<%=name%>/<%=seasonNumber%>">Season <%=seasonNumber%></a>
          - Episode <%=episodeNumber%>
        </h6>
        <p class="p-episode"><%=overview%></p>
        <div class = "navigation-btn">
          <a class="onclick-effect to-right" href="/TVShows/<%=name%>/<%=seasonNumber%>/<%=episodeNumber+1%>">
            Episode <%=episodeNumber+1%> <i class="arrow right"></i>
          </a>
          <a class="onclick-effect to-left" href="/TVShows/<%=name%>/<%=seasonNumber%>/<%=episodeNumber-1%>">
            <i class="arrow left"></i> Episode <%=episodeNumber-1%>
          </a>
        </div>
      </div>

    </div>
  </div>
  </div>
  <section class="gallery-block compact-gallery">
    <div class="container">
      <div class="heading">
        <h2>Episode Photos</h2>
        <%if(episodeImages.length==0){%>
        <h4 style="margin-top:30px;">No photos for this episode yet</h4>
        <%}%>
      </div>
      <div class="row no-gutters">
        <%episodeImages.forEach(function(image){%>
        <div class="col-md-6 col-lg-4 item zoom-on-hover">
          <a class="lightbox" href="<%=image%>">
            <img class="img-fluid image lozad" data-src="<%=image%>" src = "/img/blank.png">
          </a>
        </div>
        <%})%>
      </div>
    </div>
  </section>
  <%if(guestStars.length>0){%>
  <section class="gallery-block compact-gallery">
    <div class="container">
      <div class="heading">
        <h2>Guest Stars</h2>
      </div>
      <div class="row no-gutters">
        <%guestStars.forEach(function(guest){%>
        <%if(guest.profilePath.length > 4){%>
        <div class="col-md-6 col-lg-4 item zoom-on-hover">
          <a class="lightbox" href="<%=guest.profilePath%>">
            <img class="img-fluid image lozad" data-src="<%=guest.profilePath%>"src = "/img/blank.png">
            <span class="description">
              <span class="description-heading">Name - <%=guest.name%></span>
              <span class="description-body">Character - <%=guest.character%></span>
            </span>
          </a>
        </div>
        <%}%>
        <%})%>
      </div>
    </div>
  </section>
  <%}%>
  </div>
</section>

<%- include("footer") -%>
